$spacing-unit:40px;
$small-spacing:20px;
$extra-small-spacing:10px;

$large-width: 30%;
$medium-width: 50% ;
$small-width: 70%;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #303032;
}

main {
    display: flex;
    gap:$spacing-unit;
    padding: $spacing-unit 0;
}
.textline {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-unit;
    align-items: center;
    justify-content: center;
}

.card {
    // span 4 columns
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 20px 10px;
    width: 30%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover {
        transform: translateY(-8px);
    }
    &__image-container {
      width: 100%;  
      img {
        width:100%
      }
    }

}

@media screen and (max-width: 1000px) {
    .card {
        
    }
}

@media screen and (max-width:700px) {
    main {
        gap: $small-spacing;
        .cards {
            gap: $small-spacing;
        }
    }
}

@media screen and (max-width:500px){
    main {
        gap: $extra-small-spacing;
        
        .cards {
            gap: $extra-small-spacing;
        
            
        }
    }
}