$spacing-unit:40px;
$small-spacing:20px;
$extra-small-spacing:10px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #303032;
}

main {
    display: flex;
    gap:$spacing-unit;
    padding: $spacing-unit 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-unit;
    align-items: center;
    justify-content: center;
}

.card {
    // span 4 columns
    width: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: translateY(-8px);
    }
    &__image-container {
      width: 100%;  
      img {
        width:100%
      }
    }

}

@media screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }
}

@media screen and (max-width:700px) {
    main {
        grid-gap: $small-spacing;
        .card {
            grid-column-end: span 12;
        }
    }
}

@media screen and (max-width:500px){
    main {
        grid-gap: $extra-small-spacing;
        grid-template-columns: $extra-small-spacing repeat(6, 1fr) $extra-small-spacing;
        .cards {
            grid-column: 2/ span 6;
            grid-template-columns:repeat(6, 1fr) ;
            .card {
                grid-column-end: span 6;
            }
        }
    }
}